# JWT signing key (Any strong random string)
JWT_KEY=your_jwt_secret_key_here

# Express Session Secret (Any strong random string)
EXPRESS_SESSION_SECRET=your_session_secret_here

# Environment Type (development, production)
NODE_ENV=development
